name: Vote close

on:
  pull_request:
    types:
      - closed
  workflow_dispatch:
    branches: [ main ]

jobs:
  close:
    if: ${{ github.event_name != 'pull_request' ||
           (github.event.pull_request.merged == true
            && contains(github.event.pull_request.labels.*.name, 'paper-vote')) 
         }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        options: [1, 2, 3]
    steps:
      - name: Find Pull Request
        uses: juliangruber/find-pull-request-action@v1
        id: find-pr
        with:
          branch: paper-vote-${{ matrix.options }}
      - name: Close Pull ${{ matrix.options }}
        if: ${{ steps.find-pr.outputs.number }}
        uses: peter-evans/close-pull@v3
        with:
          pull-request-number: ${{ steps.find-pr.outputs.number }}
          delete-branch: true
