name: Notifications

on:
  pull_request:
    types:
      - closed
  workflow_dispatch:

jobs:
  notifications:
    # Run whenever next-paper labelled PR is merged to main branch -OR- when triggered manually
    if: ${{ (github.event.pull_request.merged == true
            && contains(github.event.pull_request.labels.*.name, 'next-paper'))
            || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - id: vars
        run: |
          HEADER="#### Next Paper"
          NEXT="$(tail -n1 docs/papers.md | sed 's/^...//')"
          # Multiline string:
          # https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-commands#multiline-strings
          {
            echo 'BODY<<EOF'
            echo $HEADER
            echo ''
            echo $NEXT
            echo EOF
          } >> $GITHUB_OUTPUT
      - uses: Ilshidur/action-discord@master
        if: ${{ env.DISCORD_WEBHOOK != '' }}
        with:
          args: ${{ steps.vars.outputs.BODY }}
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_URL }}
