name: Suggested Papers

on:
  push:
    paths:
      - 'suggestions.txt'
  workflow_dispatch:
    branches: [ main, dev ]

jobs:
  choices:
    runs-on: ubuntu-latest
    outputs:
      choices: ${{ steps.choices.outputs.choices }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      - name: Get suggested papers
        id: choices
        run: |
          JQ_SCRIPT='split("\n"; "g") | map(select(length > 0)) | tostring | "choices=" + .'
          SED_SCRIPT='s!^.*://!!; s!www[.]!!; s!dx[.]!!; s!doi[.]org/!!;'
          sed -E "$SED_SCRIPT" suggestions.txt | jq --raw-input --slurp --raw-output "$JQ_SCRIPT" >> $GITHUB_OUTPUT

  announce_vote:
    needs: choices
    uses: the-au-forml-lab/plgroup/.github/workflows/discord-announce.yml@main
    with:
      choices: ${{ needs.choices.outputs.choices }}
      voting_instructions: .github/assets/voting_suggested.md
