name: Vote open

on:
  schedule:
    - cron: '0 13  *  *  2'
  workflow_dispatch:
    branches: [ main, dev ]

jobs:
  choices:
    runs-on: ubuntu-latest
    if: ${{ vars.PAPER_VOTE_ON == 1 }}
    outputs:
      choices: ${{ steps.choices.outputs.choices }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      - name: Choose papers randomly
        id: choices
        run: |
          npm run choose -- ${{ vars.OPTIONS }}
          echo choices="$(< data/choices.json)" >> $GITHUB_OUTPUT

  announce_and_post:
    needs: choices
    uses: the-au-forml-lab/plgroup/.github/workflows/discord-announce.yaml@main
    with:
      choices: ${{ needs.choices.outputs.choices }}
      voting_instructions: .github/assets/voting.md
    secrets:
      DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
